<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boat of boats">
            <td>{{ boat.id }}</td>
            <td>{{ boat.name }}</td>
            <td>{{ boat.description }}</td>
            <td>
              <button type="button" (click)="deleteBoat(boat.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>